<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TTMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>log_in</display-name>
    <servlet-name>log_in</servlet-name>
    <servlet-class>com.ttms.service.log_in</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log_in</servlet-name>
    <url-pattern>/log_in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log_in</display-name>
    <servlet-name>Log_in</servlet-name>
    <servlet-class>com.ttms.web.Log_in</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log_in</servlet-name>
    <url-pattern>/Log_in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Movie_view</display-name>
    <servlet-name>Movie_view</servlet-name>
    <servlet-class>com.ttms.web.Movie_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Movie_view</servlet-name>
    <url-pattern>/movie_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindMovieAllServlet</display-name>
    <servlet-name>FindMovieAllServlet</servlet-name>
    <servlet-class>com.ttms.web.FindMovieAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindMovieAllServlet</servlet-name>
    <url-pattern>/findMovieAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMovieServlet</display-name>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <servlet-class>com.ttms.web.DeleteMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <url-pattern>/deleteMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddMovieServlet</display-name>
    <servlet-name>ShowAddMovieServlet</servlet-name>
    <servlet-class>com.ttms.web.ShowAddMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddMovieServlet</servlet-name>
    <url-pattern>/showAddMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMovieServlet</display-name>
    <servlet-name>AddMovieServlet</servlet-name>
    <servlet-class>com.ttms.web.AddMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovieServlet</servlet-name>
    <url-pattern>/addMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTypeLang</display-name>
    <servlet-name>AddTypeLang</servlet-name>
    <servlet-class>com.ttms.web.AddTypeLang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTypeLang</servlet-name>
    <url-pattern>/addTypeLang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTypeLangServlet</display-name>
    <servlet-name>AddTypeLangServlet</servlet-name>
    <servlet-class>com.ttms.web.AddTypeLangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTypeLangServlet</servlet-name>
    <url-pattern>/addTypeLangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdataMovieServletShow</display-name>
    <servlet-name>UpdataMovieServletShow</servlet-name>
    <servlet-class>com.ttms.web.UpdataMovieServletShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdataMovieServletShow</servlet-name>
    <url-pattern>/updataMovieServletShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdataMovieServlet</display-name>
    <servlet-name>ShowUpdataMovieServlet</servlet-name>
    <servlet-class>com.ttms.web.ShowUpdataMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdataMovieServlet</servlet-name>
    <url-pattern>/showUpdataMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdataMovieServlet</display-name>
    <servlet-name>UpdataMovieServlet</servlet-name>
    <servlet-class>com.ttms.web.UpdataMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdataMovieServlet</servlet-name>
    <url-pattern>/updataMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Custer_LoginServlet</display-name>
    <servlet-name>Custer_LoginServlet</servlet-name>
    <servlet-class>com.ttms.web.custer.Custer_LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Custer_LoginServlet</servlet-name>
    <url-pattern>/custer_LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>object_Cokile</display-name>
    <filter-name>object_Cokile</filter-name>
    <filter-class>Filter.object_Cokile</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>object_Cokile</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Cus_DisplayMovieServlet</display-name>
    <servlet-name>Cus_DisplayMovieServlet</servlet-name>
    <servlet-class>com.ttms.web.Cus_DisplayMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cus_DisplayMovieServlet</servlet-name>
    <url-pattern>/cus_DisplayMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sign_Servlet</display-name>
    <servlet-name>Sign_Servlet</servlet-name>
    <servlet-class>com.ttms.web.custer.Sign_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sign_Servlet</servlet-name>
    <url-pattern>/sign_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buy_DisplayMovieServlet</display-name>
    <servlet-name>Buy_DisplayMovieServlet</servlet-name>
    <servlet-class>com.ttms.web.Buy_DisplayMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buy_DisplayMovieServlet</servlet-name>
    <url-pattern>/buy_DisplayMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaleMovieServlet</display-name>
    <servlet-name>SaleMovieServlet</servlet-name>
    <servlet-class>com.ttms.web.SaleMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleMovieServlet</servlet-name>
    <url-pattern>/saleMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindSaleServlet</display-name>
    <servlet-name>FindSaleServlet</servlet-name>
    <servlet-class>com.ttms.web.FindSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindSaleServlet</servlet-name>
    <url-pattern>/findSaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindScheduleServlet</display-name>
    <servlet-name>FindScheduleServlet</servlet-name>
    <servlet-class>com.ttms.web.schedule.FindScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindScheduleServlet</servlet-name>
    <url-pattern>/findScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddScheduleServlet</display-name>
    <servlet-name>AddScheduleServlet</servlet-name>
    <servlet-class>com.ttms.web.schedule.AddScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddScheduleServlet</servlet-name>
    <url-pattern>/AddScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Play_id_FindSchServlet</display-name>
    <servlet-name>Play_id_FindSchServlet</servlet-name>
    <servlet-class>com.ttms.web.schedule.Play_id_FindSchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Play_id_FindSchServlet</servlet-name>
    <url-pattern>/play_id_FindSchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteScheServlet</display-name>
    <servlet-name>DeleteScheServlet</servlet-name>
    <servlet-class>com.ttms.web.schedule.DeleteScheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteScheServlet</servlet-name>
    <url-pattern>/deleteScheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addstudioServlet</display-name>
    <servlet-name>addstudioServlet</servlet-name>
    <servlet-class>com.ttms.web.addstudio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addstudioServlet</servlet-name>
    <url-pattern>/addstudioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delstudioServlet</display-name>
    <servlet-name>delstudioServlet</servlet-name>
    <servlet-class>com.ttms.web.delstudio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delstudioServlet</servlet-name>
    <url-pattern>/delstudioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modstudioServlet</display-name>
    <servlet-name>modstudioServlet</servlet-name>
    <servlet-class>com.ttms.web.modstudio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modstudioServlet</servlet-name>
    <url-pattern>/modstudioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studio_web</display-name>
    <servlet-name>studio_web</servlet-name>
    <servlet-class>com.ttms.web.studio_web</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studio_web</servlet-name>
    <url-pattern>/studio_web</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IfLogin</display-name>
    <servlet-name>IfLogin</servlet-name>
    <servlet-class>com.ttms.web.custer.IfLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IfLogin</servlet-name>
    <url-pattern>/ifLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImage</display-name>
    <servlet-name>CheckImage</servlet-name>
    <servlet-class>com.ttms.utils.CheckImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImage</servlet-name>
    <url-pattern>/checkImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findTicketID</display-name>
    <servlet-name>findTicketID</servlet-name>
    <servlet-class>com.ttms.web.findTicketID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findTicketID</servlet-name>
    <url-pattern>/findTicketID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectstuServlet</display-name>
    <servlet-name>selectstuServlet</servlet-name>
    <servlet-class>com.ttms.web.selectstu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectstuServlet</servlet-name>
    <url-pattern>/selectstuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutLogin</display-name>
    <servlet-name>OutLogin</servlet-name>
    <servlet-class>com.ttms.web.custer.OutLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutLogin</servlet-name>
    <url-pattern>/outLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsername</display-name>
    <servlet-name>CheckUsername</servlet-name>
    <servlet-class>com.ttms.web.custer.CheckUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsername</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutTicketServlet</display-name>
    <servlet-name>OutTicketServlet</servlet-name>
    <servlet-class>com.ttms.web.OutTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutTicketServlet</servlet-name>
    <url-pattern>/OutTicketServlet</url-pattern>
  </servlet-mapping>
</web-app>